#calc-frame {
    border: 0.25em solid black;
    padding: 1em;
    display: inline-block;
}

#puni-stats-table {
    text-align: center;
}

#puni-stats-table input {
    width: 2.5em;
}

.stat_range {
    display: none;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 25vw;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 0.4em;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext,
.tooltip:active .tooltiptext {
    visibility: visible;
}

.item_thumb {
    height: 1em;
}

.result-block {
    content-visibility: auto;
    contain-intrinsic-size: auto 40px;
}

.result-score {
    text-align: left;
    color: silver;
}

.result-sep td {
    border-top: 2px solid black;
    height: 1.5em;
}

.result-spacer td {
    height: 1.5em;
}

.rank-S { color: #e6bf5a; }
.rank-A { color: #76b3ab; }
.rank-B { color: #c56360; }
.rank-C { color: #5c6086; }
.rank-D { color: #59693a; }
.rank-E { color: #765729; }
.page_navigate_button_container{
    position: fixed;
    bottom: 1.618vw;
    right: 1.618vw;
    z-index: 999;
}

.page_navigate_button {
    width: 3.33vw;
    height: 3.33vw;
    padding: 0.5vw;
    border-radius: 100%;
    background: #016fb9;
    border: none;
    outline: none;
    color: #FFF;
    box-shadow: 0.15vw 0.15vw 0.15vw rgba(0, 0, 0, 0.2);
    font-size: 1.618vw;
    transition: all 0.3s ease;
    cursor: pointer;
}

.page_navigate_button:hover {
    opacity: 0.8;
}