#calc-frame {
    border: 0.25em solid black;
    padding: 1em;
    display: inline-block;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 25vw;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 0.4em;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext,
.tooltip:active .tooltiptext {
    visibility: visible;
}

.item_thumb {
    height: 1em;
}