<html>

<head>
    {{ turbo() }}
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='script.js')}}" defer></script>
    <link rel="icon" type="image/png" href="images/favicon.png?v=1.0">
    <title>Atelier Ryza 1 | Puni Raising Stats Calculator</title>
    <meta name="Keywords" content="Atelier Ryza, Atelier Ryza 1, puni, puni raising, puni feeding">
    <meta name="Description"
        content="An application to generate items to feed the puni in Atelier Ryza 1 to achieve a specific stat.">
</head>

<body>
    <div id="intro"><strong>Note:</strong> this application takes a long time to run to completion, but it should be
        able to give you partial results quickly (assuming that the combo you asked for exists).
        <br>
        It is highly recommended that you turn on "Duplicable only" and "Max only" to reduce the loadtime.
        <br>
        If the application is still loading and you need to perform a new search, refresh the page.
        <br>
        <del>( Welp. Where can I get the missing icons for this D: )</del>
        <hr>
        This application generates a list of items you can feed the <strong>puni</strong> in <strong>Atelier Ryza
            1</strong> to achieve a specific stat.
    </div>
    <hr>
    <form method="POST">
        <div>Duplicable only? <input type="checkbox" id="craftable_only" name="craftable_only" {{craftable_state}}>
            <span class="tooltip">(?)
                <span class="tooltiptext">Only use items that can be duplicated with gems</span>
            </span>
        </div>

        <div>Max only? <input type="checkbox" id="best_only" name="best_only" {{best_state}}>
            <span class="tooltip">(?)
                <span class="tooltiptext">Only use items that are rank (S) and has all possible attributes added</span>
            </span>
        </div>

        <table id="puni-stats-table">
            <tr>
                <td><label for="const_"><u>Const.</u></label></td>
                <td><label for="luster"><u>Luster</u></label></td>
                <td><label for="mood"><u>Mood</u></label></td>
                <td><br> = <span id="puni-color"></span> Puni</td>
            </tr>
            <tr>
                <td><input type="number" id="const_" name="const_" value="100" min="0" max="100" step="1"></td>
                <td><input type="number" id="luster" name="luster" value="100" min="0" max="100" step="1"></td>
                <td><input type="number" id="mood" name="mood" value="94" min="0" max="100" step="1"></td>
            </tr>
        </table>

        <div>Stats need to be ordered? <input type="checkbox" id="ordered" name="ordered" {{ordered_state}}>
            <span class="tooltip">(?)
                <span class="tooltiptext">Does the order of which stat has which number matter? Or is it ok that as long
                    as all three numbers appear in whichever stat?</span>
            </span>
        </div>

        <div>Show icons? <input type="checkbox" id="show_icons" name="show_icons" {{icons_state}}>
            <span class="tooltip">(?)
                <span class="tooltiptext"><strong>(WIP)</strong> Might make an already-slow program even
                    slower...</span>
            </span>
        </div>

        <button type="submit" id="submit">Submit</button>
    </form>
    <br>
    <div id="results-table">
        <table style="text-align: center;">
            <caption>Results</caption>
            <thead>
                <tr>
                    <th colspan="2"></th>
                    <th>Img.</th>
                    <th>Name</th>
                    <th>Rank</th>
                    <th colspan="2">Add. Attr.</th>
                </tr>
            </thead>
            <tbody id="results">
            </tbody>
        </table>
    </div>

</body>

</html>